In [3]:
import openpyxl
import pyautogui
import pandas as pd
PLANILHA = '../assets/overview_ifs.xlsx'

import mouseinfo
#from mouseinfo import mouseInfo
mouseinfo.MouseInfoWindow()

## PYAUTOGUI sistema IFS

In [4]:
df = pd.read_excel(PLANILHA)

print(df.columns)

df_colunas = ['Descrição do Objeto','Descrição Ação','Status','Tipo Manut', 'ID Grupo']

display(df.head(4))

Index(['ID Objeto', 'Descrição do Objeto', 'Descrição Ação', 'Status',
       'Tipo Manut', 'ID Grupo', 'Última Modificação', 'Vencimento (%)',
       'Valor Inicial', 'Unidade Inicial', 'Periodo', 'Válido De',
       'Data Válida Até'],
      dtype='object')

,ID Objeto,Descrição do Objeto,Descrição Ação,Status,Tipo Manut,ID Grupo,Última Modificação,Vencimento (%),Valor Inicial,Unidade Inicial,Periodo,Válido De,Data Válida Até
0,2004-01-031,COMPRESSOR 1,TROCAR OLEO LUBRIFICANTE,Ativo,PREVENTIVA,MECAN,2023-10-26,123.0,2308.0,Mês,3.0,2023-08-04,2024-11-02
1,2004-01-032,COMPRESSOR 2,TROCAR OLEO LUBRIFICANTE,Ativo,PREVENTIVA,MECAN,2023-10-26,29.0,2308.0,Mês,3.0,2023-08-04,2024-11-02
2,2004-01-001,MCP BB,TROCAR OLEO LUBRIFICANTE,Obsoleto,PREVENTIVA,DIESEL,2023-10-26,94.0,2308.0,Mês,3.0,2023-10-26,NaT
3,2072-01-003,MCA 1,TROCAR OLEO LUBRIFICANTE,Obsoleto,PREVENTIVA,DIESEL,2023-11-09,NaN,NaN,Nenhum,NaN,2023-10-26,NaT

In [28]:
def escreve_formulario(x,y,dados):
    pyautogui.click(x,y, duration = 0.5)
    pyautogui.write(dados)

def get_last_row(planilha):
    return planilha.max_row

In [33]:


workbook = openpyxl.load_workbook(PLANILHA)
planilha = workbook['OverView IFS']
_array = []

lastRow = get_last_row(planilha)

for row in planilha.iter_rows(min_row = 2,max_row=6):

    # COluna1 , Coluna 2, Coluna 3
    equipamento = row[1].value
    print(equipamento)
    escreve_formulario(1149,178,equipamento)

    rebocador = row[0].value
    escreve_formulario(1150,246,rebocador)

    acao = row[2].value
    escreve_formulario(1150,323,acao)

    status = row[3].value
    escreve_formulario(1150,370,status)

    tipo = row[4].value
    escreve_formulario(1160,467,tipo)

    pyautogui.click(1319,724)

COMPRESSOR 1
COMPRESSOR 2
MCP BB
MCA 1
BOMBA HIDRAULICA PTO BB

In [32]:

data_map ={}


try:
    for i in range(0,lastRow):
        dados = row[i].value
        print(dados)

        print(f'linha {i}' ,' = ',dados, end=' | ')
        data_map['linha'] = i
        data_map['dados'] = dados
        _array.append(data_map)

except:
    print('erro')



for item in _array:
    print(item)

2010-01-038
linha 0  =  2010-01-038 | BOMBA HIDRAULICA PTO BB
linha 1  =  BOMBA HIDRAULICA PTO BB | TROCAR OLEO LUBRIFICANTE
linha 2  =  TROCAR OLEO LUBRIFICANTE | Preliminar
linha 3  =  Preliminar | CORRETIVA
linha 4  =  CORRETIVA | HIDR
linha 5  =  HIDR | 2023-11-14 00:00:00
linha 6  =  2023-11-14 00:00:00 | None
linha 7  =  None | 2310
linha 8  =  2310 | Mês
linha 9  =  Mês | 6
linha 10  =  6 | 2023-11-14 00:00:00
linha 11  =  2023-11-14 00:00:00 | 2023-12-31 00:00:00
linha 12  =  2023-12-31 00:00:00 | erro
{'linha': 12, 'dados': datetime.datetime(2023, 12, 31, 0, 0)}
{'linha': 12, 'dados': datetime.datetime(2023, 12, 31, 0, 0)}
{'linha': 12, 'dados': datetime.datetime(2023, 12, 31, 0, 0)}
{'linha': 12, 'dados': datetime.datetime(2023, 12, 31, 0, 0)}
{'linha': 12, 'dados': datetime.datetime(2023, 12, 31, 0, 0)}
{'linha': 12, 'dados': datetime.datetime(2023, 12, 31, 0, 0)}
{'linha': 12, 'dados': datetime.datetime(2023, 12, 31, 0, 0)}
{'linha': 12, 'dados': datetime.datetime(2023, 12, 31, 0, 0)}
{'linha': 12, 'dados': datetime.datetime(2023, 12, 31, 0, 0)}
{'linha': 12, 'dados': datetime.datetime(2023, 12, 31, 0, 0)}
{'linha': 12, 'dados': datetime.datetime(2023, 12, 31, 0, 0)}
{'linha': 12, 'dados': datetime.datetime(2023, 12, 31, 0, 0)}
{'linha': 12, 'dados': datetime.datetime(2023, 12, 31, 0, 0)}

## Analise Exploratoria OverView IFS

In [8]:
import pandas as pd

df = pd.read_excel(PLANILHA)

print(df.columns)

df_colunas = ['Descrição do Objeto','Descrição Ação','Status','Tipo Manut', 'ID Grupo']

display(df)

print(df.drop_duplicates())

for coluna in df_colunas:
    print('\n')
    print('-> ',coluna)
    print(list(df[coluna].value_counts()))
    print(df[coluna].value_counts())
    print('\n')

Index(['ID Objeto', 'Descrição do Objeto', 'Descrição Ação', 'Status',
       'Tipo Manut', 'ID Grupo', 'Última Modificação', 'Vencimento (%)',
       'Valor Inicial', 'Unidade Inicial', 'Periodo', 'Válido De',
       'Data Válida Até'],
      dtype='object')

,ID Objeto,Descrição do Objeto,Descrição Ação,Status,Tipo Manut,ID Grupo,Última Modificação,Vencimento (%),Valor Inicial,Unidade Inicial,Periodo,Válido De,Data Válida Até
0,2004-01-031,COMPRESSOR 1,TROCAR OLEO LUBRIFICANTE,Ativo,PREVENTIVA,MECAN,2023-10-26,123.0,2308.0,Mês,3.0,2023-08-04,2024-11-02
1,2004-01-032,COMPRESSOR 2,TROCAR OLEO LUBRIFICANTE,Ativo,PREVENTIVA,MECAN,2023-10-26,29.0,2308.0,Mês,3.0,2023-08-04,2024-11-02
2,2004-01-001,MCP BB,TROCAR OLEO LUBRIFICANTE,Obsoleto,PREVENTIVA,DIESEL,2023-10-26,94.0,2308.0,Mês,3.0,2023-10-26,NaT
3,2072-01-003,MCA 1,TROCAR OLEO LUBRIFICANTE,Obsoleto,PREVENTIVA,DIESEL,2023-11-09,NaN,NaN,Nenhum,NaN,2023-10-26,NaT
4,2010-01-038,BOMBA HIDRAULICA PTO BB,TROCAR OLEO LUBRIFICANTE,Preliminar,CORRETIVA,HIDR,2023-11-14,NaN,2310.0,Mês,6.0,2023-11-14,2023-12-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...
158,2040-04,CASCO,LIMPAR O CASCO,Preliminar,PREVENTIVA,NaN,2023-11-16,230.0,2304.0,Mês,6.0,2023-04-01,2025-12-31
159,2040-01-007,PROPULSOR BB,TROCAR FILTRO DE OLEO HIDRAULICO,Preliminar,PREVENTIVA,MECAN,2023-11-16,214.0,2305.0,Mês,6.0,2023-05-01,2025-12-31
160,2004-01-008,PROPULSOR BE,TROCAR FILTRO DE OLEO HIDRAULICO,Preliminar,PREVENTIVA,MECAN,2023-11-16,214.0,2305.0,Mês,6.0,2023-05-01,2025-12-31
161,2040-01-007-007,TANQUE OLEO HIDRAULICO PROPULSOR BB,TROCAR OLEO HIDRAULICO,Preliminar,PREVENTIVA,MECAN,2023-11-16,154.0,2211.0,Mês,24.0,2022-11-01,2025-12-31
162,2004-01-008-007,TANQUE OLEO HIDRAULICO PROPULSOR BE,TROCAR OLEO HIDRAULICO,Preliminar,PREVENTIVA,MECAN,2023-11-16,154.0,2211.0,Mês,24.0,2022-11-01,2025-12-31

           ID Objeto                  Descrição do Objeto  \
0        2004-01-031                         COMPRESSOR 1
1        2004-01-032                         COMPRESSOR 2
2        2004-01-001                               MCP BB
3        2072-01-003                                MCA 1
4        2010-01-038              BOMBA HIDRAULICA PTO BB
..               ...                                  ...
158          2040-04                                CASCO
159      2040-01-007                         PROPULSOR BB
160      2004-01-008                         PROPULSOR BE
161  2040-01-007-007  TANQUE OLEO HIDRAULICO PROPULSOR BB
162  2004-01-008-007  TANQUE OLEO HIDRAULICO PROPULSOR BE

                       Descrição Ação      Status  Tipo Manut ID Grupo  \
0            TROCAR OLEO LUBRIFICANTE       Ativo  PREVENTIVA    MECAN
1            TROCAR OLEO LUBRIFICANTE       Ativo  PREVENTIVA    MECAN
2            TROCAR OLEO LUBRIFICANTE    Obsoleto  PREVENTIVA   DIESEL
3            TROCAR OLEO LUBRIFICANTE    Obsoleto  PREVENTIVA   DIESEL
4            TROCAR OLEO LUBRIFICANTE  Preliminar   CORRETIVA     HIDR
..                                ...         ...         ...      ...
158                    LIMPAR O CASCO  Preliminar  PREVENTIVA      NaN
159  TROCAR FILTRO DE OLEO HIDRAULICO  Preliminar  PREVENTIVA    MECAN
160  TROCAR FILTRO DE OLEO HIDRAULICO  Preliminar  PREVENTIVA    MECAN
161            TROCAR OLEO HIDRAULICO  Preliminar  PREVENTIVA    MECAN
162            TROCAR OLEO HIDRAULICO  Preliminar  PREVENTIVA    MECAN

    Última Modificação  Vencimento (%)  Valor Inicial Unidade Inicial  \
0           2023-10-26           123.0         2308.0             Mês
1           2023-10-26            29.0         2308.0             Mês
2           2023-10-26            94.0         2308.0             Mês
3           2023-11-09             NaN            NaN          Nenhum
4           2023-11-14             NaN         2310.0             Mês
..                 ...             ...            ...             ...
158         2023-11-16           230.0         2304.0             Mês
159         2023-11-16           214.0         2305.0             Mês
160         2023-11-16           214.0         2305.0             Mês
161         2023-11-16           154.0         2211.0             Mês
162         2023-11-16           154.0         2211.0             Mês

     Periodo  Válido De Data Válida Até
0        3.0 2023-08-04      2024-11-02
1        3.0 2023-08-04      2024-11-02
2        3.0 2023-10-26             NaT
3        NaN 2023-10-26             NaT
4        6.0 2023-11-14      2023-12-31
..       ...        ...             ...
158      6.0 2023-04-01      2025-12-31
159      6.0 2023-05-01      2025-12-31
160      6.0 2023-05-01      2025-12-31
161     24.0 2022-11-01      2025-12-31
162     24.0 2022-11-01      2025-12-31

[152 rows x 13 columns]


->  Descrição do Objeto
[15, 15, 14, 13, 10, 10, 10, 9, 9, 7, 7, 6, 6, 5, 5, 5, 4, 2, 2, 2, 2, 2, 2, 1]
MCA BB                                 15
MCA BE                                 15
MCP BB                                 14
MCP BE                                 13
COMPRESSOR 1                           10
BOMBA HIDRAULICA PTO BE                10
COMPRESSOR 2                           10
PURIFICADORA DE OLEO DIESEL             9
TANQUE OLEO HIDRAULICO PROPULSOR BB     9
BOMBA HIDRAULICA PTO BB                 7
TANQUE OLEO HIDRAULICO PROPULSOR BE     7
PROPULSOR BB                            6
PROPULSOR BE                            6
EMBREAGEM  PTO BB                       5
MOTOR DE GIRO BB 1 (PROPULSOR BB)       5
CASCO                                   5
EMBREAGEM  PTO BE                       4
MOTOR DE GIRO BE 2 (PROPULSOR BE)       2
MOTOR DE GIRO BE 1 (PROPULSOR BE)       2
MOTOR DE GIRO BB 2 (PROPULSOR BB)       2
MOTOR DE GIRO BB 3 (PROPULSOR BB)       2
MOTOR DE GIRO BE 3 (PROPULSOR BE)       2
MANETE PROPULSOR BE                     2
MCA 1                                   1
Name: Descrição do Objeto, dtype: int64




->  Descrição Ação
[72, 40, 15, 12, 10, 8, 5, 1]
TROCAR OLEO LUBRIFICANTE              72
REGULAR VALVULAS                      40
TROCAR FILTRO DE OLEO HIDRAULICO      15
TROCAR OLEO HIDRAULICO                12
TROCAR FILTRO DE OLEO LUBRIFICANTE    10
TROCAR OLEO DO COMPRESSOR              8
LIMPAR O CASCO                         5
TROCAR FILTRO COMBUSTIVEL              1
Name: Descrição Ação, dtype: int64




->  Status
[124, 37, 2]
Preliminar    124
Ativo          37
Obsoleto        2
Name: Status, dtype: int64




->  Tipo Manut
[126, 1]
PREVENTIVA    126
CORRETIVA       1
Name: Tipo Manut, dtype: int64




->  ID Grupo
[66, 58, 32, 2]
MECAN      66
DIESEL     58
HIDR       32
ELETRON     2
Name: ID Grupo, dtype: int64

In [9]:
df.describe()

       Vencimento (%)  Valor Inicial     Periodo
count      143.000000     146.000000  146.000000
mean       144.965035    2298.917808    7.342466
std        164.015347      61.349593    5.646407
min          4.000000    1602.000000    1.000000
25%         89.500000    2306.000000    3.000000
50%        128.000000    2308.000000    6.000000
75%        169.000000    2310.000000   12.000000
max       1375.000000    2312.000000   24.000000